<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixar XML RCC</title>
</head>
<body>
    <h1>Baixar XML RCC</h1>
    <button onclick="executarSelenium()"> EXECUTAR </button>

    <script>
        function executarSelenium() {
            // Fazer uma solicitação para o servidor executar o código Python
            fetch('/executar')
                .then(response => response.text())
                .then(message => alert(message))
                .catch(error => console.error(error));
        }
    </script>
</body>
</html>
